/*Add CSS styles here*/

#mymap {    
    height: 400px;    
    width: 100%;
    display: inline-block;
}

#mypanel {    
    margin-top: 20px;
}

#mymapandpanel {
    text-align: center;
  }

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#leftArrow, #rightArrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
